@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Oswald:wght@200;300;600&family=Roboto:wght@300&family=Rubik+Wet+Paint&display=swap');
// .navbar{
//   background-color: ;
// }
.bg{
  // height: 80vh;
  background-image: url("Media/halloween.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  
}
.hero{
  padding-top: 180px;
  padding-bottom: 120px;
}
.nft{
  border-radius: 30px;
  border: 3px solid ;
}
.header-navbar{
  color: white !important;
}
.header-navbar:hover{
  color: #745F98 !important;
}
.floki{
  display: flex;
  align-items: center;
}
.hallo-text{
  display: flex;
  align-items: center;
}
.halloween-floki{
  color: white;
  font-family: "Nosifer";
  font-size: 50px;
}
.card{
  background-color: #54595F !important;
}
.hero-card{
  // width: 90%;
  color: white !important;
  border-radius: 20px !important;
  border-color: #745F98 !important;  ;
  background-color: #745F985E!important;
  padding: 40px;
}
.buy{
  background-color: #745F98;
  text-decoration: none;
  color: white;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius:25px ;

}
.halloweenbg{
  background-color: black;
  span{
    color: white;
  }
  h1{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
  }
  p{
    color: white;
  }
}
.hallo{
  display: flex;
  flex-direction: column;
 
}
.hallo-img{
  display: flex;
  align-items: center;
 
}


.tokenbg{
  background-image: url("Media/bg-banner.png");
  background-color: #745F98;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  color: white;

}
.token-list-style{
  list-style-type: square;
}
.token-cards{
  display: flex;


}
.tokencard{
  background-color: transparent !important;
  border: none  !important;
}
.tokencard:hover{
  background-color: grey !important;
}
.token-padding{
  padding-top: 90px;
  padding-bottom: 90px;
}
.documentbg{
  background-color:  #745F98;
  
}
.docbg{
  border-radius: 30px;
  background-color: black;
  color: white;
}
.document{
  
  padding: 50px;
}
.drop-btn{
  border-radius: 40px!important;
  background-color: #F27022 !important;
}
.dropitem-btn{

  background-color: #F27022 !important;
}
.docimg{
  display: felx;
  align-items: center;
}
.footerbg{
  background-color: black;
  color :white
}
.faq-img{
  display: flex;
  align-items: center;
}
// .faq{
//   display: flex;
//   align-items: center;
//   flex-direction: column;
// }
.roadmapbg{
  background-image: url("Media/roadmap.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: top left;
  color: white;
}
.header.active-scroll{
  background-color: black !important;
}


